[build]
builder = "NIXPACKS"
buildCommand = "cd backend && npm install && npm run build"

[deploy]
startCommand = "cd backend && npm start"
restartPolicyType = "ON_FAILURE"
sleepApplication = true
sleepApplicationDelaySeconds = 900

[env]
NODE_ENV = "production"
